/* .container-search{
    background-color: rgb(235, 224, 112);

}



.books-holder{
    border-radius: 1rem;
    margin: 1rem;
    width: 10rem;
    height: 14rem;
} */

.card-image{
   max-width: 100%;
   max-height: 70%;
}

.book-holder{
    object-fit: contain;
    width: 21rem;
    /* height: 25rem; */
}

.card-image:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
    }

    .card-section{
        display: grid;
        grid-template-columns: auto auto auto ;
        gap: 1rem;
        
    }